# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.idea/
.vscode/

# Logs and databases
*.log
*.sqlite3

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Compiled files
*.so
*.dll
*.dylib
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Test coverage reports
htmlcov/
.coverage
*.cover
.cache
nosetests.xml
coverage.xml
*.mo
*.pot

# Pipenv & Poetry
Pipfile
Pipfile.lock
poetry.lock

# PyInstaller
*.spec

# mypy
.mypy_cache/

# Pyre
.pyre/

# Pylint
.pylint.d/

# Editor & IDE
*.swp
*.swo
*.swn
*.bak

